body{
    background-color: rgb(51, 51, 51);
}
h1{
   background-color: rgb(255, 94, 88);
   border-radius: 25px;
   height: 40px;
   width: 100%;
}

li{
   background-color:rgb(255, 94, 88) ;
   border-color:rgb(255, 94, 88) ;
   height: 80px;
   width: 80%;
}
sour{
  background-color:rgb(255, 94, 88) ;


}
hr{
  background-color: rgb(255, 94, 88) ;
}